/*--------------------------------------------
----------------------------------------------
                   Body
----------------------------------------------
--------------------------------------------*/

body{
    font-family: "Roboto";
    background-color: #FAFAFA;
}

.barra-mobile{
    display: none;
}

/*--------------------------------------------
----------------------------------------------
                  Header
----------------------------------------------
--------------------------------------------*/

header{
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 100vw;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

/*--------------------------------------------
              Logo Instagram
--------------------------------------------*/

.logo{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(50vw - 482px);
}

.icones{
    width: 22px;
    height: 22px;
    color: black;
}

.divisoria{
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
}

.instagram{
    margin-top: 8px;
}

/*--------------------------------------------
             Barra de pesquisa
--------------------------------------------*/

.pesquisa{
    height: 28px;
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;
}

.pesquisa p{
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}

/*--------------------------------------------
                  ìcones
--------------------------------------------*/

.cx-icones{
    width: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: calc(50vw - 466px);
}

/*--------------------------------------------
----------------------------------------------
                   Conteúdo
----------------------------------------------
--------------------------------------------*/

.conteudo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 948px;
    margin: 0 auto;
    margin-top: 54px;
}

/*--------------------------------------------
----------------------------------------------
                Área de posts
----------------------------------------------
--------------------------------------------*/

.area-posts{
    height: 2800px;
    width: 614px;
    margin-top: 34px;
}

/*--------------------------------------------
               Barra de perfis
--------------------------------------------*/

.barra-perfis{
    position: relative;
    z-index: -2;
    display: flex;
    align-items: center;
    height: 118px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 23px;
    margin-bottom: 24px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58px;
    margin-right: 24px;
}

.img-perfil{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.background{
    position: absolute;
    top: -5.5px;
    z-index: -1;
    width: 67px;
    height: 67px;
    border-radius: 33.5px;
}

.perfil p{
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
}

.seta{
    position: absolute;
    right: 3px;
}

/*--------------------------------------------
                   Posts
--------------------------------------------*/

.post{
    margin-bottom: 60px;
    line-height: 0;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.barra-superior{
    position: relative;
    display: flex;
    align-items: center;
    height: 61px;
    background-color: #FFFFFF;
}

.barra-superior img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 17px;
}

.barra-superior p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    margin-right: 348px;
}

.pts{
    position: absolute;
    right: 17px;
}

.post > img{
    width: 100%;
}

.post video{
    width: 100%;
}

.barra-inferior{
    height: 76px;
    padding-top: 10px;
    background-color: #FFFFFF;
}

.reacoes{
    display: flex;
    position:relative;
    margin: 0px 15px;
}

.flag{
    position: absolute;
    right: 0;
}

.curtidas{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding-left: 11px;
}

.curtidas img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 10px;
}

.curtidas p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3px;
    color: #000000;
}

.curtidas strong{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-left: 3px;
    color: #000000;
}

/*--------------------------------------------
----------------------------------------------
               Barra lateral
----------------------------------------------
--------------------------------------------*/

.barra-lateral{
    position: sticky;
    z-index: 2;
    width: 300px;
    height: 500px;
    padding-top: 57px;
    top: 54px;
    margin-left: 34px;
}

/*--------------------------------------------
                Perfil pessoal
--------------------------------------------*/

.perfil-pessoal{
    display: flex;
    align-items: center;
}

.perfil-pessoal img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-right: 17px;
}

.perfil-pessoal a{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.perfil-pessoal p{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #9D9D9D
}

/*--------------------------------------------
            Cabeçalho de sugestões
--------------------------------------------*/

.barra-sugestoes{
    position: relative;
    display: flex;
    margin-top: 24px;
}

.sugestoes{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #8E8E8E;
}

.ver{
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #262626;
}

/*--------------------------------------------
            Sugestões para seguir
--------------------------------------------*/

.perfil-seguir{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 17px;
}

.perfil-seguir img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 11px;
}

.perfil-seguir strong{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;;
}

.perfil-seguir p{
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.perfil-seguir > p{
    position: absolute;
    right: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}

.perfil-seguir a:hover{
    text-decoration: underline;
}

/*--------------------------------------------
                    Links
--------------------------------------------*/

.links{
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
}

.links a{
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.links p{
    font-size: 18px;
    line-height: 13px;
    margin: 0 2.5px;
    color: #C7C7C7;
}

/*--------------------------------------------
                  Copyright
--------------------------------------------*/

.barra-lateral > p{
    font-size: 11px;
    line-height: 13px;
    margin-top: 18px;
    color: #C7C7C7;
}

/*--------------------------------------------
----------------------------------------------
                Media Query
----------------------------------------------
--------------------------------------------*/

@media (max-width: 935px){
    .barra-lateral{
        display: none;
    }

    .conteudo{
        align-items: center;
        width: 100vw;
    }

    .area-posts{
        margin-left: auto;
        margin-right: auto;
    }

    .logo{
        margin-left: 20px;
    }
    
    .cx-icones{
        margin-right: 20px;
    }
}

@media (max-width: 614px){
    .x-mobile{
        display: none;
    }

    .instagram{
        margin-left: calc(50vw - 110px);
    }

    .cx-icones{
        margin-bottom: 20px;
    }
    
    .share{
        position: absolute;
        right: 0;
    }

    .area-posts{
        width: 100vw;
        overflow: hidden;
        margin: 0 0;
    }

    .barra-perfis{
        width: 100vw;
        border: 0;
        margin: 10px 0;
        background-color: transparent;
    }

    .post{
        width: 100vw;
        border-left: 0;
        border-right: 0;
    }

    body{
        width: 100vw;
    }

    .barra-mobile{
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        width: 100vw;
        background-color: #FFFFFF;
        border-top: 1px solid #DBDBDB;
    }

    .icones{
        margin: 0 20px;
    }

    .logo{
        margin-left: 0;
    }
    
    .cx-icones{
        margin-right: 0;
    }
}